APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:ufwzcwgm1Bs1g8wN0I2IVU0W+1YKjO1+N2G7OU39Iwg=
APP_DEBUG=true
APP_URL=admin.htawb2d3d.com
APP_TIMEZONE=Asia/Yangon

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=HTAWB!@2d3d

DB_CONNECTION=mysql
DB_HOST=marsgamingdb-do-user-11756013-0.b.db.ondigitalocean.com
DB_PORT=25060
DB_DATABASE=defaultdb
DB_USERNAME=doadmin
DB_PASSWORD=AVNS_uWvJBbUThwAoTzJkBPA

DB_CONNECTION_2=mysql
DB_HOST_2=marsgamingdb-do-user-11756013-0.b.db.ondigitalocean.com
DB_PORT_2=25060
DB_DATABASE_2=betslips
DB_USERNAME_2=doadmin
DB_PASSWORD_2=AVNS_uWvJBbUThwAoTzJkBPA

BROADCAST_DRIVER=redis
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


TELEGRAM_BOT_TOKEN=6202629724:AAHUAOV1Ku7m8PXKeOUmFrs3XBaCkOpUZ1U

FIREBASE_CREDENTIALS=/storage/app/firebase/icasinoupdate-firebase-adminsdk-3bmh3-67596e7ee6.json
FIREBASE_DATABASE_URL=https://icasinoupdate-default-rtdb.asia-southeast1.firebasedatabase.app/