/node_modules
/public/hot
/public/agent
/public/blog
/public/category
/public/master_agent
/public/senior_agent
/public/super_admin
/public/user
/public/banner
/public/cash_in
/public/promotion
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.docker